<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head.ejs %>
</head>

<body>

    <% include ./partials/navbar.ejs %>

    <main class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron my-4 text-center">
          <h1 class="display-3">Welcome to Blocipedia!</h1>
          <p class="lead">An application for users to create, collaborate, and share wikis.</p>
          <a href="/users/signup" class="btn btn-primary btn-lg">Sign up</a>
        </header>
    
        <!-- Page Features -->
        <section class="row text-center">
    
          <section class="col-lg-4">
            <h4 class="card-title">Create</h4>
            <p class="card-text">Create wikis about subjects that are important to you.</p>
          </section>
    
          <section class="col-lg-4">
            <h4 class="card-title">Collaborate</h4>
            <p class="card-text">Work together with others and make it a joint experience!</p>
          </section>
    
          <section class="col-lg-4">
            <h4 class="card-title">Share</h4>
            <p class="card-text">Share your knowledge with the world!</p>
          </section>
    
        </section>
        <!-- /.row -->
    
      </main>
      <!-- /.container -->
    
      <% include ./partials/baseScripts.ejs %>
    </body>
    
    </html>